{% if device.name == "Wasmachine" %}
        <img id="afbeelding"  src='{% static 'images/devices/wasmachine.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Laadpaal" %}
        <img id="afbeelding"  src='{% static 'images/devices/laadpaal.jpg' %}' alt="Laadpaal">
    {% endif %}
{% if device.name == "Koelkast" %}
        <img id="afbeelding"  src='{% static 'images/devices/koelkast.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Diepvriezer" %}
        <img id="afbeelding"  src='{% static 'images/devices/diepvriezer.jpg' %}' alt="Laadpaal">
    {% endif %}
{% if device.name == "Battery" %}
        <img id="afbeelding"  src='{% static 'images/devices/batterij.jpg' %}' alt="Wasmachine">
    {% endif %}
{% if device.name == "Oven" %}
        <img id="afbeelding"  src='{% static 'images/devices/oven.jpg' %}' alt="oven">
        {% endif %}
