{% extends "neighbourhood/usertemplate.html" %}
{% load static %}
{% block title %} Slimme energiewoningen | {{ house.name}}{% endblock %}

{% block topheader %}{{ house.name }}{% endblock %}


{% block topheader_content %}
    Mijn kamers zijn:
    <ul>
{#    <li> <a href="/neighbourhood/models"> models</a></li>#}
        {% for room in house.room_set.all %}
{#    {% for room in House.objects.all %}#}
   <li><a href="{% url "Room" room.id %}">{{ room.name }}</a></li>
{#            <h3> {{ room.name }}</h3>#}
    {% endfor %}
    </ul>
{% endblock %}


{% block left_col %}
   <div id="probeersel">
        <h2> Energieverbruik per uur voor het {{ house.name}} </h2>

    <canvas id="secondPlot" width="500" height="250" ></canvas>
    </div>

{% endblock %}

{% block middle_col %}

    <div id="probeersel">
            <h2>Prijs aan energie in euro/kwh  voor het {{ house.name}} </h2>
    <canvas id="onlyprijsverbruik" width="500" height="200"></canvas>
    </div>


{% endblock %}

{% block right_col %}

    <div id="probeersel">
    <div>
          <h2>Kosten aan energie per uur voor het {{ house.name}} </h2>
  <canvas id="prijsverbruik" width="500" height="300"></canvas>
</div>

{% endblock %}



<!--  Deel dat de knoppen zal schrijven -->
{% block showalldevices %}

{#    <meta http-equiv="refresh" content="10" >#}

    {% for heat in house.heating_set.all %}
        <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ heat.name }} - {{ heat.status }}%</h5>
    {% if heat.name == "Verwarming" %}
        <img id="afbeelding"  src='{% static 'images/devices/thermos.jpg' %}' alt="Wasmachine">
    {% endif %}
 <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" heat.id 100 0 1 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' heat.id 000 0 1 %}">Zet uit</button>
    </div>
    </div>
    {% endfor %}
    <meta http-equiv="refresh" content="30" >
    {% for room in house.room_set.all %}


        <h3 onclick=location.href="{% url "initialise" %}"><!--Apparaten in {{ room.name }}--></h3>
<!--<h4>Slimme Apparaten</h4>-->
{% for device in room.smart_devices_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }} - {{ device.status }}%</h5>
    {% if device.name == "Wasmachine" %}
        <img id="afbeelding"  src='{% static 'images/devices/wasmachine.jpg' %}' alt="Wasmachine">
    {% endif %}
    {% if device.name == "Verlichting" %}
        <img id="afbeelding"  src='{% static 'images/devices/licht.jpg' %}' alt="Wasmachine">
    {% endif %}
    {% if device.name == "Afwasmachine" %}
    <img id="afbeelding"  src='{% static 'images/devices/afwasmachine.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Laadpaal" %}
        <img id="afbeelding"  src='{% static 'images/devices/laadpaal.jpg' %}' alt="Laadpaal">
    {% endif %}
    {% if device.name == "Windturbine" %}
        <img id="afbeelding"  src='{% static 'images/devices/wind.jpg' %}' alt="Laadpaal">
    {% endif %}
    {% if device.name == "Zonnepaneel" %}
        <img id="afbeelding"  src='{% static 'images/devices/zonnepaneel.jpg' %}' alt="Laadpaal">
    {% endif %}
 <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 1 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 1 %}">Zet uit</button>
    </div>
    </div>
{% endfor %}


<!--<h4>Koelkasten</h4>-->
{% for device in room.fridges_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }} - {{ device.temperature }}°C</h5>
    {% if device.name == "Koelkast" %}
        <img id="afbeelding"  src='{% static 'images/devices/koelkast.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Diepvriezer" %}
        <img id="afbeelding"  src='{% static 'images/devices/diepvriezer.jpg' %}' alt="Laadpaal">
    {% endif %}
  <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 2 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 2 %}">Zet uit</button>
    </div>
    </div>
{% endfor %}



<!--<h4>Energieopslag</h4>-->
{% for device in room.battery_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }} - {{ device.charge_status }}% </h5>
    {% if device.name == "Battery" %}
        <img id="afbeelding"  src='{% static 'images/devices/batterij.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Laadpaal" %}
        <img id="afbeelding"  src='{% static 'images/devices/laadpaal.jpg' %}' alt="Laadpaal">
    {% endif %}
  <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 3 %}">Laad op</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 3 %}">Stop opladen</button>
       <button id="knopb" type="button" class="btn btn-sm btn-warning" href={% url 'status' device.id 060 0 3 %}>Geef energie</button>
       <button id="knopb" type="button" class="btn btn-sm btn-primary" href={% url 'status' device.id 040 0 3 %}>Stop energie</button>

    </div>
    </div>
{% endfor %}


<!--<h4>Klassieke apparaten</h4>-->
{% for device in room.stupid_devices_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }}</h5>
    {% if device.name == "Oven" %}
        <img id="afbeelding"  src='{% static 'images/devices/oven.jpg' %}' alt="oven">
        {% endif %}
 <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 4 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 4 %}">Zet uit</button>
    </div>
    </div>
{% endfor %}





{% endfor %}
{% endblock %}




{%  block custom_js %}

  <script>
      var max_energy = 0;
      var steps_energy = 10;
      var chartData_energy = {}

function respondCanvasEnergy() {
    var c = $('#secondPlot');
    var ctx = c.get(0).getContext("2d");
    var container = c.parent();

    var $container = $(container);

    c.attr('width', $container.width()); //max width

    c.attr('height', $container.height()); //max height

    //Call a function to redraw other content (texts, images etc)
    var chart = new Chart(c, {
        type: 'line',
        data: chartData_energy,
        options: {
            scales: {
                yAxes: [{
                    type: 'linear',
                    position: 'left'
                }],
                xAxes: [{
                    type: 'time',
                    time: {

                        unit: 'hour'

                    },
                    position: 'bottom'
                }]
            },
{#            title: {#}
{#                display: true,#}
{#                text: 'Energieverbruik in Watt per uur'#}
{#            }#}
        }
    });
    }

var GetChartDataEnergy = function () {
    $.ajax({
        url: '{%  url 'Chartdata' house.id %}',
        method: 'GET',
        dataType: 'json',
        success: function (d) {
           chartData_energy = {
                //labels: d.AxisLabels,
                datasets: [
                    {   label: 'Energieverbruik in Watt',
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        data: d.timeseries
                    }
                ]
            };

            max_energy = Math.max.apply(Math, d.timeseries);
            steps_energy = 10;

            respondCanvasEnergy();
        }
    });
};

      var max_price = 0;
      var steps_price = 10;
      var chartData_price = {}

function respondCanvasPrice() {
    var c = $('#prijsverbruik');
    var ctx = c.get(0).getContext("2d");
    var container = c.parent();

    var $container = $(container);

    c.attr('width', $container.width()); //max width

    c.attr('height', $container.height()); //max height

    //Call a function to redraw other content (texts, images etc)
    var chart = new Chart(c, {
        type: 'line',
        data: chartData_price,
        options: {
            scales: {
                yAxes: [{
                    type: 'linear',
                    position: 'left'
                }],
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'hour'

                    },
                    position: 'bottom'
                }]
            },
{#            title: {#}
{#                display: true,#}
{#                text: 'Kosten aan energie per uur'#}
{#            }#}
        }
    });
    }

var GetChartDataPrice = function () {
    $.ajax({
        url: '{%  url 'gettotalprice' house.id %}',
        method: 'GET',
        dataType: 'json',
        success: function (d) {
           chartData_price = {
                //labels: d.AxisLabels,
                datasets: [
                    {   label: 'Kosten in euro',
                        backgroundColor: "rgba(255,99,132,0.4)",
                        borderColor: "rgba(255,99,132,1)",
                        fillColor: "rgba(255,99,132,0.5)",
                        strokeColor: "rgba(255,99,132,1))",
                        pointColor: "rgba(255,99,132,1)",
                        pointStrokeColor: "#fff",
                        data: d.timeseries
                    }
                ]
            };

            max_price = Math.max.apply(Math, d.timeseries);
            steps_price = 10;

            respondCanvasPrice();
        }
    });
};
      var max_onlyprice = 0;
      var steps_onlyprice = 10;
      var chartData_onlyprice = {}

function respondCanvasonlyprice() {
    var c = $('#onlyprijsverbruik');
    var ctx = c.get(0).getContext("2d");
    var container = c.parent();

    var $container = $(container);

    c.attr('width', $container.width()); //max width

    c.attr('height', $container.height()); //max height

    //Call a function to redraw other content (texts, images etc)
    var chart = new Chart(c, {
        type: 'line',
        data: chartData_onlyprice,
        options: {
            scales: {
                yAxes: [{
                    type: 'linear',
                    position: 'left',
                                ticks: {
                                    beginAtZero: true
                                        }}],
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'hour'

                    },
                    position: 'bottom'
                }]
            },
{#            title: {#}
{#                display: true,#}
{#                text: 'Kosten aan energie per uur'#}
{#            }#}
        }
    });
    }

var GetChartDataonlyprice = function () {
    $.ajax({
        url: '{%  url 'gettotalonlyprice' house.id %}',
        method: 'GET',
        dataType: 'json',
        success: function (d) {
           chartData_onlyprice = {
                //labels: d.AxisLabels,
                datasets: [
                    {   label: 'Prijs in euro/kwh',
                      //  backgroundColor: "rgba(255,99,132,0.4)",
                        borderColor: "rgba(255,99,132,1)",
                       // fillColor: "rgba(255,99,132,0.5)",
                      //  strokeColor: "rgba(255,99,132,1))",
                        fill: false,
                        pointColor: "rgba(255,99,132,1)",
                        pointStrokeColor: "#fff",
                        data: d.timeseries
                    }
                ]
            };

            max_onlyprice= Math.max.apply(Math, d.timeseries);
            steps_onlyprice = 10;

            respondCanvasonlyprice();
        }
    });
};

$(document).ready(function() {
    $(window).resize(respondCanvasEnergy);
    $(window).resize(respondCanvasPrice);
     $(window).resize(respondCanvasonlyprice);

    GetChartDataEnergy();
    GetChartDataPrice();
    GetChartDataonlyprice();

});




</script>

{% endblock %}








