{% extends "neighbourhood/usertemplate.html" %}
{% load static %}
{% block title %}Slimme-energiewoningen| {{ room.name }}{% endblock %}


{% block topheader %}Dit is mijn  {{ room.name }}{% endblock %}

{% block topheader_content %}Ik hoor bij het <a href="{% url 'House' room.house.id %}">{{ room.house.name }}</a> {% endblock %}

{% block left_col %}
<div class="col-md-4">
  <h2>Energieverbruik</h2>
  <canvas id="energy_house" width="400" height="400"></canvas>

</div>
    {% endblock %}

{% block custom_js %}
  <script>
      var max = 0;
    var steps = 10;
    var chartData = {};

function respondCanvas() {
    var c = $('#energy_house');
    var ctx = c.get(0).getContext("2d");
    var container = c.parent();

    var $container = $(container);

    c.attr('width', $container.width()); //max width

    c.attr('height', $container.height()); //max height

    //Call a function to redraw other content (texts, images etc)
    var chart = new Chart(c, {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                yAxes: [{
                    type: 'linear',
                    position: 'left'
                }],
                xAxes: [{
                    type: 'time',
                    time: {

                        unit: 'hour'

                    },
                    position: 'bottom'
                }]
            },
            title: {
                display: true,
                text: 'Energieverbruik per kwartier'
            }
        }
    });
    }

var GetChartData = function () {
    $.ajax({
        url: '{%  url 'Chartdata_room' room.id %}',
        method: 'GET',
        dataType: 'json',
        success: function (d) {
           chartData = {
                //labels: d.AxisLabels,
                datasets: [
                    {   label: 'verbruik',
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        data: d.timeseries
                    }
                ]
            };

            max = Math.max.apply(Math, d.timeseries);
            steps = 10;

            respondCanvas();
        }
    });
};

$(document).ready(function() {
    $(window).resize(respondCanvas);
    GetChartData();
});
</script>
{% endblock %}

{% block middle_col %}


{% endblock %}







<!-- DEVICeS -->
{% block showalldevices %}

{#    <meta http-equiv="refresh" content="10" >#}


        <h3>Apparaten in {{ room.name }}</h3>
        <div id="blockcontainer" class="container"> <!-- OM problemen met opvolgen van verschillende soorten te vermijden-->
        <div class="container"> <!-- omdat er anders problemen waren doordat deze een margin bottom had -->
<h4>Slimme Apparaten</h4>
        </div>
        <div class="row-offcanvas"><!-- block met daarin alle apparaten in een kamer -->
        <!--<h4>Slimme Apparaten</h4>-->

{% for device in room.smart_devices_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }} - {{ device.status }}%</h5>
    {% if device.name == "Wasmachine" %}
        <img id="afbeelding"  src='{% static 'images/devices/wasmachine.jpg' %}' alt="Wasmachine">
    {% endif %}
    {% if device.name == "Verlichting" %}
        <img id="afbeelding"  src='{% static 'images/devices/licht.jpg' %}' alt="Wasmachine">
    {% endif %}
    {% if device.name == "Afwasmachine" %}
    <img id="afbeelding"  src='{% static 'images/devices/afwasmachine.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Laadpaal" %}
        <img id="afbeelding"  src='{% static 'images/devices/laadpaal.jpg' %}' alt="Laadpaal">
    {% endif %}

    {% if device.name == "Windturbine" %}
        <img id="afbeelding"  src='{% static 'images/devices/wind.jpg' %}' alt="Laadpaal">
    {% endif %}
    {% if device.name == "Zonnepaneel" %}
        <img id="afbeelding"  src='{% static 'images/devices/zonnepaneel.jpg' %}' alt="Laadpaal">
    {% endif %}

 <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 1 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 1 %}">Zet uit</button>
    </div>
    </div>
{% endfor %}











<!--<h4>Koelkasten</h4>-->
{% for device in room.fridges_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }} - {{ device.temperature }}°C</h5>
    {% if device.name == "Koelkast" %}
        <img id="afbeelding"  src='{% static 'images/devices/koelkast.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Diepvriezer" %}
        <img id="afbeelding"  src='{% static 'images/devices/diepvriezer.jpg' %}' alt="Laadpaal">
    {% endif %}
  <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 2 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 2 %}">Zet uit</button>
    </div>
    </div>
{% endfor %}









<!--<h4>Energieopslag</h4>-->
{% for device in room.battery_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }} - {{ device.charge_status }}% </h5>
    {% if device.name == "Battery" %}
        <img id="afbeelding"  src='{% static 'images/devices/batterij.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Laadpaal" %}
        <img id="afbeelding"  src='{% static 'images/devices/laadpaal.jpg' %}' alt="Laadpaal">
    {% endif %}
  <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 3 %}">Laad op</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 3 %}">Stop opladen</button>
       <button id="knopb" type="button" class="btn btn-sm btn-warning" href={% url 'status' device.id 060 0 3 %}>Geef energie</button>
       <button id="knopb" type="button" class="btn btn-sm btn-primary" href={% url 'status' device.id 040 0 3 %}>Stop energie</button>

    </div>
    </div>
{% endfor %}





<!--<h4>Klassieke apparaten</h4>-->
{% for device in room.stupid_devices_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }}</h5>
    {% if device.name == "Oven" %}
        <img id="afbeelding"  src='{% static 'images/devices/oven.jpg' %}' alt="oven">
        {% endif %}
 <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 4 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 4 %}">Zet uit</button>
    </div>
    </div>
{% endfor %}





               <div id="blockcontainer" class="container"> <!-- OM problemen met opvolgen van verschillende soorten te vermijden-->
        <div class="container"> <!-- omdat er anders problemen waren doordat deze een margin bottom had -->
<h4>Verwarming</h4>
        </div>
        <div class="row-offcanvas"><!-- block met daarin alle apparaten in een kamer -->
{% for device in room.Heating_set.all %}
    <div class="col-lg-3"> <!-- we stoppen elk apparaat in een apparte kolom-->
    <div id="container1"> <!-- hokje voor elk apparaat met foto en knoppen-->
    <h5 id="vspace">{{ device.name }}</h5>
    {% if device.name == "Verwarming slim huis" %}
        <img id="afbeelding"  src='{% static 'images/devices/thermos.jpg' %}' alt="Thermosstaat">
        {% endif %}
 <button id="knop" type="button"  class="btn btn-sm btn-success" onclick=location.href="{% url "status" device.id 100 0 5 %}">Zet aan</button>
   <button id="knop" type="button" class="btn btn-sm btn-danger" onclick=location.href="{% url 'status' device.id 000 0 5 %}">Zet uit</button>
    </div>
    </div>
{% endfor %}
        </div>
        </div>


{% endblock %}

